# Visual Studio Code
.vscode/
.history/

# Temp files
*.log
*.swp
*.swo
*.bak
*.old
*.tmp
*.ref
my_refs(do_not_delete)

package-lock.json
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Environment
backend/venv/
backend/.env

# Django
*.log
db.sqlite3
/media/

# IDEs
.vscode/
.idea/

# Environment variables
*.env
*.env.local

# PoC
Poc/

notpush/*